{% extends "base_admin.html" %}

{% block title %}Thêm mức lương mới{% endblock %}

{% block content %}

<div>

    <h2>Thêm mức lương mới</h2>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>Mã lương</label><br>
            <input type="text" name="salary_id" placeholder="Nhập mã lương" required>
        </div>

        <div>
            <label>Cấp bậc lương</label><br>
            <input type="text" name="salary_rank" placeholder="Nhập cấp bậc" required>
        </div>

        <div>
            <label>Mức lương</label><br>
            <input type="number" name="amount" step="1" placeholder="Nhập mức lương" required>
        </div>

        <div>
            <label>Hệ số</label><br>
            <input type="number" name="multiplier" step="0.01" value="1.0" required>
        </div>

        <div>
            <button type="submit">Thêm mới</button>
            <a href="{% url 'payroll:view_salary' %}">Hủy</a>
        </div>
    </form>

</div>

{% endblock %}
