{% extends "base_admin.html" %}

{% block title %}Xem lịch sử thay đổi luong{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">

    <h3 class="mb-3"> Lịch sử thay đổi lương</h3>

    <a href="{% url 'payroll:view_salary' %}" class="btn btn-outline-dark">
        ← Quay lại danh sách lương
    </a>
    <form method="post">
         {% csrf_token %}
    <div class="d-flex justify-content-end mb-3 gap-2">
        <input type="hidden" name="history_id" id="history_id">
        <button type="submit" class="btn btn-outline-dark">Xóa</button>
    </div>
    </form>
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Thứ tự</th>
                        <th>Mã lương</th>
                        <th>Hạng</th>
                        <th>Số tiền</th>
                        <th>Hệ số</th>
                        <th>Thời điểm thay đổi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in histories %}
                    <tr class="clickable-row">
                        <td><input type="radio" name="history_id" value={{ h.history_id }}></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ h.salary_id }}</td>
                        <td>{{ h.old_rank }} -> {{ h.new_rank }}</td>
                        <td>{{ h.old_amount }} -> {{ h.new_amount }}</td>
                        <td>{{ h.old_multiplier }} -> {{ h.new_multiplier }}</td>
                        <td>{{ h.change_date|date:"d/m/Y H:i:s" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center text-muted">
                            Không có lịch sử thay đổi nào.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
// Khi click vào <tr>, check radio bên trong
document.querySelectorAll('.clickable-row').forEach(row => {
    row.addEventListener('click', function(e){
        // Nếu click vào chính radio, bỏ qua
        if(e.target.type !== 'radio'){
            const radio = this.querySelector('input[type="radio"]');
            radio.checked = true;
        }

        // Thêm class tô màu cho dòng được chọn
        document.querySelectorAll('.clickable-row').forEach(r => r.classList.remove('table-primary'));
        this.classList.add('table-primary');

        const selectedId = this.querySelector('input[type="radio"]').value;
        document.getElementById('history_id').value = selectedId;
    });
});
</script>
{% endblock %}
