{% extends "base.html" %}

{% block sidebar %}
    <a href="{% url 'users:staff_dashboard' %}">Trang chủ</a>
    <hr style="border-top: 1px solid #555;">

    <a href="{% url 'users:profile' %}">Hồ sơ cá nhân</a>
    <a href="{% url 'users:salary_history' %}">Lịch sử Trả lương</a>
    <a href="{% url 'users:leave_history' %}">Lịch Nghỉ & Công</a>
    <a href="{%url 'users:change_password' %}">Đổi mật khẩu</a>
    <a href="{% url 'users:leave_request' %}">Xin nghỉ phép</a>
    <hr style="border-top: 1px solid #555;">
    <a href="{% url 'users:logout' %}">Đăng xuất</a>
{% endblock %}

{% block content %}
    {% block staff_content %}
        <h3>Bạn có thể tra cứu thông tin cá nhân và lịch sử làm việc ở menu bên trái.</h3>
    {% endblock %}
{% endblock %}