{% extends "base.html" %}

{% block sidebar %}
    <!-- <a href="base_admin.html">Dashboard Quản Trị</a> -->
    <a href="{% url 'users:admin_dashboard' %}">Dashboard Quản Trị</a>
    <hr style="border-top: 1px solid #555;">
    
    <a href="{% url 'users:list_staff' %}">Thêm/QL Nhân viên</a>
    <a href="{% url 'payroll:view_salary' %}">Bảng lương</a>
    <a href="{% url 'payroll:salary_payment' %}">Thanh toán lương</a>
    <a href="{% url 'attendance:admin_leave' %}">Duyệt Nghỉ Phép</a>
    <a href="{% url 'funds:index' %}">Quản Lý Tiền Quỹ</a>
    <hr style="border-top: 1px solid #555;">
    <!-- <a href="base_admin.html">Đăng xuất</a> -->
    <a href="{% url 'users:logout' %}">Đăng xuất</a>

{% endblock %}

{% block content %}
    {% block admin_content %}
        <h3>Chào Admin! Vui lòng chọn chức năng từ menu.</h3>
    {% endblock %}
{% endblock %}